.container_coment {
    left: 378px;
    top: 338px;
    width: 798px;
    height: 648px;
    border: 5px solid #000;
}

.este_textarea {
    width:  318px;
    height: 96px;
    border-radius: 8px;
}

.title_coment {
    display: flex;
    align-items: center; 
}

.title {
    margin-right: 10px; 
    color: #222121;
    font-family: 'poppins';
}

.img, .mensaje {
    margin-left: 90px;
}

.coment_field {
    display: flex;
    align-items: center;
}