.section{
    display:flex ;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;


    .form{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:707px;
        border-radius: 8px;
        padding: 36px 0px 36px 0px;
        gap: 36px;
        background-color:#1B5196 ;


        .form_title{
            width: 535px;
            font-size: 24px;
            line-height: 36px;
            font-weight: 400;
            color: #fafafa;
            hr{
                border: 2px  solid #fafafa;
                
            }
        
        }
        .container_fields{
            width: 535px;
            display:flex;
            flex-direction: column;
            gap: 24px;

            .group{
                width: 100%;
                display:flex;
                gap: 24;
            
            }
            .btn_carga{
                width: 100%;
                display: flex;
                justify-content: center;
                gap:24px;
                button{
                    padding: 0;
                }

            }
            .btn_submit{
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 24px;

            }

        }

        
    
    }

    
    .article{
    
        background-color: #416EA7;
        width: 341px;
        padding: 32px 16px 32px 16px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        
        .article_title{
           
            font-size: 24px;
            line-height: 36px;
            font-weight: 400;
            color: #fafafa;
            hr{
                border: 2px solid #fafafa;
                
            }

        }
        .article_cometario{
            width: 313px;
            border-radius: 8px;
            padding: 16px;
            gap: 8px;
            
            &:hover{
                
                background-color: #1B5196;
            }
            p, time{
                font-size: 20px;
                line-height: 30px;
                font-weight: 500;
                color:#FAFAFA;
            }
    
        

        }
        hr{
            width: 100%;    
            border: 0.5px solid #FAFAFA; ;
        }
      
    

    }
  


}
