.icon {
    path {
        fill: #222121;
    }

    &.white{
        path {
            fill: #FAFAFA;
        }
    }
    &.black{
        path {
            fill: #222121;
        }
    }
    &.green{
        path {
            fill: #7BB6B2;;
        }
    }
}
