# Sistema Operativo
.DS_Store
Thumbs.db

# Entorno Virtual
env/
venv/
ENV/
.venv/
.env/

# Compilación de Python
*.py[cod]
__pycache__/
*.so

# Archivos de configuración de editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Configuración de PyCharm
*.iml
*.iws
.idea/

# Archivos de Log
*.log

# Base de Datos Local
db.sqlite3
*.sqlite3

# Archivos de Configuración de Django
*.env
.settings/

# Configuración de Migrations
*.pyo
*.pyd
*.pid
*.egg-info/
*.egg

# Archivos creados por tests de cobertura
htmlcov/
.coverage
.tox/
.pytest_cache/
.nox/

# Archivos de Caches
.cache/
*.pytest_cache/
.cache/

# Distribución / Paquetes
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Documentación
docs/_build/

# Archivos de traducción de i18n
*.mo
*.pot

# Static files y uploads
staticfiles/
media/

# Archivos de configuración de MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Archivos de configuración de Pyre
.pyre/
