@import "../../assets/constants.scss";

.topBar {
    display: flex;
    gap: 42px;
    background-color: #1b5196;
    box-sizing: border-box;
    padding: 20px 60px;
    height: 69px;

    .icon {
        svg {
            path {
                fill: #fafafa;
            }
        }

        button {
            padding: 5px;
        }
    }

    .menuItem {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background-color: rgb(226, 226, 226);
        position: absolute;

        button {
            justify-content: flex-start;
            color: #1b5196;
        }
    }
}

@media screen and (min-width: $media-query-desktop) {
    .topBar {
        height: 96px;
    }
}

@media screen and (min-width: $media-query-desktop) {
    .topBar {
        display: none;
    }
}
