.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    

    label {
        font-size: 14px;
        line-height: 18px;
        color: #fafafa;
        margin: 0;
    }

    .helperText {
        margin: 0;
        color: #fafafa;
        font-size: 10px;
        line-height: 12px;
    }

    .field {
        display: flex;
        background-color: #fafafa;
        border-radius: 8px;
        position: relative;
        padding: 14px 8px;
    

        .content {
            background-color: transparent;
            border: none;
            outline: none;
            width: -webkit-fill-available;
        }

        .icon {
            position: absolute;
            top: 30%;
            right: 9px;
        }

        &.error {
            border: 1px solid red;
        }
        &.textarea {
            height: 170px;
            padding: 8px 8px 0px 16px;
        
        }
        
    }

}
